/* Global */
html{
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url(images/background.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

body {
	font-size: 62.5%;
	margin: 0;
	padding: 0;
    }

.container {
    font-size: 1.6em;
    padding: 2em 14em;
    margin: 0 auto;
}
/* "Header" */

.titulo {
    background: url(/images/PEDRA-PAPEL-E-TESOURA.png) no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100px;
    margin: 0px auto;
    margin-top: 2em;
}

/* Main */

main .container {
    padding-top: 0;
    padding-bottom: 0;
}

ul {
    display: flex;
    justify-content: space-around;

    list-style-type: none;
}

li {
    height: 180px;
    width: 180px;

}

.pedra {
    background: url(/images/Cobblestone_Revision_6.png);
    background-size: cover;
    margin: 20% auto ;
    height: 120px;
    width: 120px;
}

.pedra-background {
    background: url(/images/unselected.png) no-repeat;
    background-size: cover;
}

.pedra-background:hover {
    background: url(/images/selected.png) no-repeat;
    background-size: contain;
    margin-left: -10px;
    margin-top: -10px;
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.papel {
    background: url(/images/Paper.png);
    background-size: cover;
    margin: 10% auto ;
    height: 150px;
    width: 150px;
}

.papel-background {
    background: url(/images/unselected.png) no-repeat;
    background-size: cover;
}

.papel-background:hover {
    background: url(/images/selected.png) no-repeat;
    background-size: contain;
    margin-left: -10px;
    margin-top: -10px;
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.tesoura {
    background: url(/images/Shears.png);
    background-size: cover;
    margin: 10% auto ;
    height: 150px;
    width: 150px;
}

.tesoura-background {
    background: url(/images/unselected.png) no-repeat;
    background-size: cover;
}

.tesoura-background:hover {
    background: url(/images/selected.png) no-repeat;
    background-size: contain;
    margin-left: -10px;
    margin-top: -10px;
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.btn {
    height: 10px;
}

/* Footer */
.play {
    display: flex;
    justify-content: space-around;
}

.player {
    background: url(/images/player.png) no-repeat;
    background-size: contain;
    background-position: center;
    width: 200px;
    height: 200px;
}

.vs {
    background: url(/images/vs.png) no-repeat;
    background-size: contain;
    width: 160px;
    height: 160px;
}

.computer {
    background: url(/images/computador.png);
    background-size: contain;
    background-position: center;
    width: 200px;
    height: 200px;
}

.computer-score {
    color: white;
}

.player-score {
    color: white;
}